body{
	background: black;
}
ol{
	border: 5px solid red;
	padding: 50px;
	margin: 10px 200px 10px 10px;
	background: white;
	overflow: scroll;
	list-style-type: lower-alpha;
}

li:nth-child(2n){
	background: green;
	color: white;
	list-style-type: lower-alpha;
}